<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
       mamespace：命名空间;指定为接口的全类名可以进行接口绑定
       id：唯一标识
       resultType：返回值类型
-->
<mapper namespace="com.zuoshao.tegeneral.mapper.Userrolemapper">
    <select id="selectuserrole" parameterType="com.zuoshao.tegeneral.bean.User" resultType="com.zuoshao.tegeneral.bean.Menu">
        SELECT m.`id`,m.`Name`,m.`img`,m.`path` FROM `user` AS u JOIN us_ro AS ur ON u.`id`=ur.uid
 JOIN role AS r ON ur.`rid`=r.`id`
 JOIN ro_me AS rm ON r.`id`=rm.`rid`
 JOIN menu AS m ON rm.`mid`=m.`id`
 WHERE u.`id`=#{id}
    </select>
    <select id="selectuserall" resultType="com.zuoshao.tegeneral.bean.beanexa.UserCple">
                SELECT u.`id`,u.`name`,u.`password`,u.`username`,c.`name` AS college,GROUP_CONCAT(r.`name`) AS role FROM `user` AS u JOIN college AS c ON  u.`collid`=c.`id`
JOIN us_ro AS ur ON u.`id`=ur.`uid`
 JOIN  role AS r ON ur.`rid` =r.`id` GROUP BY u.`id`
    </select>
    <select id="selectuserforid" parameterType="com.zuoshao.tegeneral.bean.User" resultType="com.zuoshao.tegeneral.bean.beanexa.UserCple">
        SELECT u.`id`,u.`name`,u.`password`,u.`username`,c.`name` AS college,r.`name` AS role FROM `user` AS u JOIN college AS c ON  u.`collid`=c.`id`
JOIN us_ro AS ur ON u.`id`=ur.`uid`
 JOIN  role AS r ON ur.`rid` =r.`id` WHERE u.`id`=#{id}
    </select>
    <select id="selectuserforexa" parameterType="com.zuoshao.tegeneral.bean.User" resultType="com.zuoshao.tegeneral.bean.beanexa.UserCple">
SELECT u.`id`,u.`name`,u.`username`,c.`name` AS college,GROUP_CONCAT(r.`name`) AS role FROM `user` AS u JOIN college AS c ON  u.`collid`=c.`id`
JOIN us_ro AS ur ON u.`id`=ur.`uid`
 JOIN  role AS r ON ur.`rid` =r.`id` WHERE CONCAT(u.`id`,u.`name`,u.`username`,c.`name`,r.`name`) LIKE CONCAT('%',#{name},'%') GROUP BY u.`id`
    </select>
    <select id="selectuserrolemeun" resultType="com.zuoshao.tegeneral.bean.beanexa.RoleMenu">
SELECT r.`name` as role,GROUP_CONCAT(m.`name`) as menu,GROUP_CONCAT(m.`img`) as img FROM ro_me AS rm JOIN role AS r ON rm.`rid`=r.`id`
JOIN menu AS m ON rm.`mid`=m.`id` GROUP BY r.`id`
    </select>
    <select id="selectrealationship" resultType="com.zuoshao.tegeneral.bean.beanexa.RelationShipmapping">
        SELECT rs.`id`,u.`name`,c.`name` AS classname,cu.`name` AS curr,ce.`name` AS college FROM relationship AS rs JOIN `user` AS u ON rs.`teacherid`=u.`id`
JOIN class AS c ON rs.`classid`=c.`id`
JOIN curriculum AS cu ON rs.`currid`=cu.`id`
JOIN college AS ce ON rs.`collegeid`=ce.`id`
    </select>
    <select id="selectrealationshipasexa" parameterType="com.zuoshao.tegeneral.bean.User" resultType="com.zuoshao.tegeneral.bean.beanexa.RelationShipmapping">
                SELECT rs.`id`,u.`name`,c.`name` AS classname,cu.`name` AS curr,ce.`name` AS college FROM relationship AS rs JOIN `user` AS u ON rs.`teacherid`=u.`id`
JOIN class AS c ON rs.`classid`=c.`id`
JOIN curriculum AS cu ON rs.`currid`=cu.`id`
JOIN college AS ce ON rs.`collegeid`=ce.`id` WHERE CONCAT(rs.`id`,u.`name`,c.`name`,cu.`name`,ce.`name`) LIKE CONCAT('%',#{name},'%')
    </select>
    <select id="selectstudentclass" resultType="com.zuoshao.tegeneral.bean.beanexa.StudentClass">
SELECT sc.`id`,u.`name` AS stname,u.`username`,c.`name` AS clname FROM studentclass AS sc JOIN `user` AS u ON sc.`studentid`=u.`id`
JOIN class AS c ON sc.`classid`= c.`id`
    </select>
    <select id="selctclassstudentasexa" parameterType="com.zuoshao.tegeneral.bean.User" resultType="com.zuoshao.tegeneral.bean.beanexa.StudentClass">
SELECT sc.`id`,u.`name` AS stname,u.`username`,c.`name` AS clname FROM studentclass AS sc JOIN `user` AS u ON sc.`studentid`=u.`id`
JOIN class AS c ON sc.`classid`= c.`id` WHERE CONCAT(u.`name`,u.`username`,c.`name`) LIKE CONCAT('%',#{name},'%')
    </select>

    <select id="selectmenuforrole" parameterType="com.zuoshao.tegeneral.bean.Role" resultType="com.zuoshao.tegeneral.bean.Menu">
        SELECT m.* FROM ro_me AS rm JOIN role AS r ON rm.`rid`=r.`id`
JOIN menu AS m ON rm.`mid`=m.`id` WHERE r.`name`= #{name}
    </select>

    <select id="selectstudentclassforid" parameterType="com.zuoshao.tegeneral.bean.Role" resultType="com.zuoshao.tegeneral.bean.beanexa.UserCple">
        SELECT u.*,co.`name` AS college FROM studentclass AS sc JOIN `user` AS u
    ON sc.`studentid`=u.`id` JOIN class AS c ON sc.`classid`=c.`id`
    JOIN college AS co ON u.`collid`=co.`id`
    WHERE c.`id`= #{id}
    </select>
    <select id="selectquestionexa" parameterType="com.zuoshao.tegeneral.bean.Questionnaire" resultType="com.zuoshao.tegeneral.bean.Questionnaire">
       SELECT * FROM questionnaire AS q WHERE q.`name` LIKE CONCAT('%',#{name},'%') AND q.`batch`=#{batch}
    </select>

    <select id="selectquestionall" resultType="com.zuoshao.tegeneral.bean.beanexa.QustionBatch">
        SELECT q.`id`,q.`name`,b.`id` AS batchid,b.`name` AS batch,b.`state` AS state FROM
 questionnaire AS q JOIN batch AS b ON q.`batch`=b.`id`
    </select>
</mapper>